{{#partial "content"}}
 {{#if checkoutItems}}
        <h1>Products added To Checkout</h1>
         {{#each products as |product|}}
         <div class="card-title">{{products.id}}</div>
         <div class="card-title">{{products.name}}</div>
         <div class="card-title">{{products.category}}</div>
         <div class="card-title">{{products.price}}</div>
         <button class="btn btn-block btn-success p-2 font-weight-bolder text-white">Delete Product</button>

         {{/each}}

    {{else}}
     <p class="par"class="card-title"> Go Back To Products</p>

    {{/if}}

{{/partial}}

{{> layout.hbs}}